/* Styles go here */

html, body{
  height:100%;
}

.main-container{
  background-color:red;
  color:white;
  height:100%;
}
.content-container{
  height:100%;
}

/* introduction styles  */
.intro-container{
  height:100%;
}
.intro-header{
  color:red;
}
.intro-big-banner{
  color:black;
  background-color:white;
  height:25%;
  padding-top:1%;
  padding-bottom:1%;
  border-bottom-style:solid;
  border-color:red;
}

.intro-row{
  max-height:100%;
  background-color:white;
}
.intro-row-container{
    width:100% !important;
}
.column-container{
  height:100%;
  color:black;
}
.column-lead{
  color:red;

}
.column-body{
  word-spacing:.11em;
}
.btn-productive{
  color:white;
  background-color:red;
  font-size:2em !important;
  
}