<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="register-container panel panel-primary">
    <div class="register-heading panel-heading text-lg">Register!

    </div>
    <div class="panel-body container-fluid" >
        <form name = "resgister-form" novalidate class="register-form-group form-group row ">
            email:
            <input type="Email" class="form-control" ng-model="user.email" required />

            Username:
            <input type="text" class="form-control" ng-model="user.name" required />
            <br /> Password:
            <input type="password" class="form-control" ng-model="user.pwd" required />
            <br />
            <input class="register-submit-btn btn " ng-disabled="register-form.user.name.$dirty && register-form.user.name.$invalid ||  
register-form.user.email.$dirty && register-form.user.email.$invalid || register-form.user.password.$dirty && register-form.user.password.$invalid" type="submit" ng-click="registerUser()" value="Register Me!" />
            <span> Check the form, you must correct the above errors.</span>
        </form>

    </div>
</div>